body {
   
    margin: 0;
    /* Remove default margin */
    padding: 0;
    /* Remove default padding */
    font-family: 'Poppins', sans-serif;
    /* Apply Poppins font */
    /* -webkit-user-select: none; */
    /* Safari */
    /* -moz-user-select: none; */
    /* Firefox */
    /* -ms-user-select: none; */
    /* Internet Explorer/Edge */
    /* user-select: none; */
    /* Non-prefixed version */
}

/* Disable text selection */

.bg-blue {
    background-color: #29aae2ad;
}



/* register button on internship */

/* Keyframe animations */
/* Hide success message initially */
/* Hide success message initially */
.success-message {
    display: none;
}